<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro de Labirinto</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Cadastro de Labirinto</strong>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" th:object="${entitys}" th:action="@{/Gerenciador/Labirintos/save}" method="POST" style="margin: 10px">
            <div class="form-group">
                <fieldset>
                    <div class="form-group row">
                        <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                            <div th:each="detailedError : ${#fields.detailedErrors()}">
                                <span th:text="${detailedError.message}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-1">
                            <input type="text" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-1" th:classappend="${#fields.hasErrors('idsessao')}? 'has-error'">
                            <label>Id Sessão</label>
                            <input type="text" class="form-control input-sm" th:field="*{idsessao}"
                                   readOnly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-1" th:classappend="${#fields.hasErrors('idatividade')}? 'has-error'">
                            <label>Id Atividade</label>
                            <input type="text" class="form-control input-sm" th:field="*{idatividade}"
                                   readOnly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('quantdicas')}? 'has-error'">
                            <label>Dicas</label>
                            <input type="text" class="form-control input-sm" th:field="*{quantdicas}" autofocus="autofocus" required="true" placeholder="Informe o numero de dicas"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('paredes')}? 'has-error'">
                            <label>Num. paredes</label>
                            <input type="text" class="form-control input-sm" th:field="*{paredes}" required="true" placeholder="Informe a quantidades de paredes contidas no labirinto"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('quanterro')}? 'has-error'">
                            <label>Quant. Erro</label>
                            <input type="text" class="form-control input-sm" th:field="*{quanterro}" required="true" placeholder="Informe a quantidade de erros"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('posicaoerro')}? 'has-error'">
                            <label>Posição errada</label>
                            <input type="text" class="form-control input-sm" th:field="*{posicaoerro}" required="true" placeholder="Informe as posições erradas"/>
                        </div>
                    </div>                   
					<div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('teclaerrada')}? 'has-error'">
                            <label>Tecla errada</label>
                            <input type="text" class="form-control input-sm" th:field="*{teclaerrada}" required="true" placeholder="Informe as teclas erradas"/>
                        </div>
                    </div>                    
					<div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('quantbotoes')}? 'has-error'">
                            <label>Quant. botões</label>
                            <input type="text" class="form-control input-sm" th:field="*{quantbotoes}" required="true" placeholder="Informe a quantidade de botões"/>
                        </div>
                    </div>                    
					<div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('poserrado')}? 'has-error'">
                            <label>Posições erradas</label>
                            <input type="text" class="form-control input-sm" th:field="*{poserrado}" required="true" placeholder="Informe as posições erradas"/>
                        </div>
                    </div>     
					<div class="form-group row">
                        <div class="col-md-2" th:classappend="${#fields.hasErrors('horainicio')}? 'has-error'">
                            <label>Hora inicio</label>
                            <input type="date" class="form-control input-sm" th:field="*{horainicio}" required="true"/>
                        </div>
                    </div>
					<div class="form-group row">
                        <div class="col-md-2" th:classappend="${#fields.hasErrors('horafim')}? 'has-error'">
                            <label>Hora fim</label>
                            <input type="date" class="form-control input-sm" th:field="*{horafim}" required="true"/>
                        </div>
                    </div>
									
                </fieldset>
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-sm btn-primary" th:href="@{/Gerenciador/Labirintos/list/}">Salvar</button>
                <a th:href="@{/Gerenciador/Labirintos/list/}" class="btn btn-sm btn-default">Cancelar</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>