<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro de Medicamento</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Cadastro de Medicamento</strong>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" th:object="${entitys}" th:action="@{/Gerenciador/Medicamentos/save}" method="POST" style="margin: 10px">
            <div class="form-group">
                <fieldset>
                    <div class="form-group row">
                        <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                            <div th:each="detailedError : ${#fields.detailedErrors()}">
                                <span th:text="${detailedError.message}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-1">
                            <input type="text" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
                            <label>Nome</label>
                            <input type="text" class="form-control input-sm" th:field="*{nome}" autofocus="autofocus" required="true" placeholder="Informe o Nome do administrador" maxlength="70"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('tipo')}? 'has-error'">
                            <label>Tipo</label>
                            <input type="text" class="form-control input-sm" th:field="*{tipo}" required="true" maxlength="50" placeholder="Informe o tipo de medicamento"/>
                        </div>
                    </div>
                  <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('composicao')}? 'has-error'">
                            <label>Composicao</label>
                            <input type="text" class="form-control input-sm" th:field="*{composicao}" required="true" maxlength="50" placeholder="Informe o tipo de composição"/>
                        </div>
                    </div>
                  <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('laboratorio')}? 'has-error'">
                            <label>Laboratorio</label>
                            <input type="text" class="form-control input-sm" th:field="*{laboratorio}" required="true" maxlength="50" placeholder="Informe o nome do laboratorio"/>
                        </div>
                    </div>
                  <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('posologia')}? 'has-error'">
                            <label>Posologia</label>
                            <input type="text" class="form-control input-sm" th:field="*{posologia}" required="true" maxlength="50" placeholder="Informe o tipo de posologia"/>
                        </div>
                    </div>
                  <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('observacao')}? 'has-error'">
                            <label>Observacao</label>
                            <input type="text" class="form-control input-sm" th:field="*{observacao}" required="true" maxlength="50" placeholder="Informe alguma observação"/>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-sm btn-primary" th:href="@{/Gerenciador/Medicamentos/list/}">Salvar</button>
                <a th:href="@{/Gerenciador/Medicamentos/list/}" class="btn btn-sm btn-default">Cancelar</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>