<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width" name="viewport"/>
    <title>Gerenciador ADACA</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Sumário</strong>
    </div>
    <div class="panel-body">
        <a th:href="@{/Gerenciador/Administradores/list}"><p>1 - Administradores</p></a>
        <a th:href="@{/Gerenciador/Atividades/list}"><p>2 - Atividades</p></a>
        <a th:href="@{/Gerenciador/Autistas/list}"><p>3 - Crianças</p></a>
        <a th:href="@{/Gerenciador/Configuracoes/list}"><p>4 -Configurações</p></a>
        <a th:href="@{/Gerenciador/Graficos/list}"><p>5 - Gráficos</p></a>
        <a th:href="@{/Gerenciador/Labirintos/list}"><p>6 - Labirintos</p></a>
        <a th:href="@{/Gerenciador/Medicamentos/list}"><p>7 - Medicamentos</p></a>
        <a th:href="@{/Gerenciador/Relatorios/list}"><p>8 - Relatórios</p></a>
        <a th:href="@{/Gerenciador/Resultados/list}"><p>9 - Resultados</p></a>
        <a th:href="@{/Gerenciador/Sessoes/list}"><p>10 - Sessões</p></a>
        <a th:href="@{/Gerenciador/Tutores/list}"><p>11 - Tutores</p></a>

    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>